*
!.*
.*~
.*.tmp
.ICEauthority
.Xauthority
.aspell*
.bash_history
.com.zerog.registry.xml
.esd_auth
.gmrun-history
.gmrun_history
.gtk-bookmarks
.java
.lesshst
.pulse-cookie
.recently-used
.rnd
.viminfo
